ARE_ROOT_DOMAIN_COOKIES_ENABLED=True
BASE_BACKEND_URL=https://app.betterbase.com
BASE_LANDING_SITE_URL=https://betterbase.com
BASE_WEB_APP_URL=https://app.betterbase.com
CACHALOT_ENABLED=True
CELERY_BROKER_URL=redis://redis_broker:6379/0
CELERY_FLOWER_PASSWORD=___secret_flower_password___
CELERY_FLOWER_USER=___secret_flower_user___
CELERY_RESULT_BACKEND=django-db
DATABASE_URL=postgresql://better_base_app:___secret_postgresql_password___@___secret_postgresql_host___:___secret_postgresql_port___/better_base_prod
DEFAULT_SITE_DOMAIN=app.betterbase.com
DEFAULT_SITE_NAME=app.betterbase.com
DEFAULT_SUPPORT_EMAIL="Better Base Support <support@betterbase.com>"
DJANGO_ADMIN_URL=___secret_django_admin_url___
DJANGO_ALLOWED_HOSTS=betterbase.com,app.betterbase.com,demo.betterbase.com,files.betterbase.com,www.betterbase.com
DJANGO_AWS_ACCESS_KEY_ID=___secret_django_aws_access_key_id___
DJANGO_AWS_PRIVATE_STORAGE_BUCKET_NAME=better-base-prod-private
DJANGO_AWS_PUBLIC_STORAGE_BUCKET_NAME=better-base-prod-public
DJANGO_AWS_QUERYSTRING_AUTH=True
DJANGO_AWS_S3_CUSTOM_DOMAIN=___secret_django_aws_s3_custom_domain___
DJANGO_AWS_S3_ENDPOINT_URL=___secret_django_aws_s3_endpoint_url___
DJANGO_AWS_S3_PUBLIC_CUSTOM_DOMAIN=files.betterbase.com
DJANGO_AWS_S3_PRIVATE_CUSTOM_DOMAIN=___secret_django_aws_s3_private_custom_domain___
DJANGO_AWS_S3_REGION_NAME=auto
DJANGO_AWS_S3_PRIVATE_ENDPOINT_URL=___secret_django_aws_s3_private_endpoint_url___
DJANGO_AWS_S3_PUBLIC_ENDPOINT_URL=___secret_django_aws_s3_public_endpoint_url___
DJANGO_AWS_SECRET_ACCESS_KEY=___secret_django_aws_secret_access_key___
DJANGO_AWS_STORAGE_BUCKET_NAME=better-base-prod-private
DJANGO_CORS_ALLOWED_ORIGINS=https://*.betterbase.com,https://betterbase.com,https://app.betterbase.com,https://demo.betterbase.com,https://files.betterbase.com,https://www.betterbase.com
DJANGO_CSRF_TRUSTED_ORIGINS=https://*.betterbase.com,https://betterbase.com,https://app.betterbase.com,https://demo.betterbase.com,https://files.betterbase.com,https://www.betterbase.com
DJANGO_DEBUG=False
DJANGO_DEFAULT_FROM_EMAIL="Better Base Accounts <accounts@mail.betterbase.com>"
DJANGO_EMAIL_SUBJECT_PREFIX=None
DJANGO_LOG_LEVEL=INFO
DJANGO_READ_DOT_ENV_FILE=False
DJANGO_SECRET_KEY=___secret_django_secret_key___
DJANGO_SECURE_HSTS_SECONDS=10800
DJANGO_SESSION_COOKIE_DOMAIN=.betterbase.com
DJANGO_SETTINGS_MODULE=config.settings.prod
ENVIRONMENT=prod
MAILGUN_API_KEY=___secret_mailgun_api_key___
MAILGUN_DOMAIN=mail.betterbase.com
MAILGUN_WEBHOOK_SIGNING_KEY=___secret_mailgun_webhook_signing_key___
POSTGRES_HOST=___secret_postgres_host___
POSTGRES_PORT=___secret_postgres_port___
POSTGRES_DB=better_base_prod
POSTGRES_USER=better_base_app
POSTGRES_PASSWORD=___secret_postgres_password___
PYTHONHASHSEED=random
REDIS_CACHE_URL=redis://redis_cache:6379/0
REDIS_CELERY_BROKER_URL=redis://redis_broker:6379/0
REST_FRAMEWORK_SHOW_BROWSABLE_API=False
SENTRY_DSN=___secret_sentry_dsn___
SERVER_EMAIL="Better Base System <system@mail.betterbase.com>"
SIGNUP_ENABLE_ALLOWING_ANY_EMAIL_DOMAIN_IF_CREATING_FROM_INVITATION=True
SIGNUP_ENABLE_ONLY_ALLOWING_SPECIFIC_EMAIL_DOMAINS=False
SIGNUP_ONLY_ALLOW_SPECIFIC_EMAIL_DOMAINS="betterbase.com"
WEB_CONCURRENCY=2
