# PostgreSQL
# ------------------------------------------------------------------------------
DATABASE_URL=postgresql://better_base_app:___secret_postgresql_password___@___secret_postgresql_host___:___secret_postgresql_port___/better_base_prod
POSTGRES_HOST=___secret_postgresql_host___
POSTGRES_PORT=___secret_postgresql_port___
POSTGRES_DB=better_base_prod
POSTGRES_USER=better_base_app
POSTGRES_PASSWORD=___secret_postgresql_password___
