# Django
# ------------------------------------------------------------------------------
DJANGO_DEBUG=True
DJANGO_LOG_LEVEL=INFO

# django-vite
# ------------------------------------------------------------------------------
DJANGO_VITE_DEV_MODE=True
DJANGO_VITE_DEV_SERVER_PORT=4020
# NOTE/TODO: Set this to `True` or `true` if:
# 1. You are using Windows.
# 2. AND, you are running Vite from within Docker for development instead of within
#    Windows.
#
# Other NOTE: We'd currently suggest, if running Windows, that you try and run Vite from
# within Windows instead of from within Docker for development because CPU Polling is
# expensive and seems to significantly slow down the Vite development server running
# inside Docker making for a less pleasant development experience.
DEV_VITE_USE_POLLING_IN_DEV_DOCKER=false
