.cache
.coverage
.dmypy.json
# .dockerignore
# .editorconfig
# .env
# .envs
# .eslintignore
# .eslintrc.json
.git
# .gitattributes
# .github
# .gitignore
# .idea
# .local.env
# .local.template.env
.mypy_cache
# .oxfmtrc.json
# .oxlintrc.json
# .pre-commit-config.yaml
# .prettierignore
# .prettierrc.json
.pytest_cache
# .python-version
.react-email
# .readthedocs.yml
.ruff_cache
# .storybook
.swc
# .taskfile.env
# .taskfile.template.env
.venv
# .vscode

__pycache__

# backend
build
# compose
# config
# dc.ci.yml
# dc.dev.yml
# dc.prod.yml
chakra-ejected-example
dist
dist-ssr
# docs
# emails
# frontend
htmlcov
# locale
# manage.py*
node_modules
# openapi
# package.json
# package-lock.json
# Procfile
# public
# pyproject.toml
# README.md
# render
# render.yaml
# requirements
# requirements.txt
# runtime.txt
# scripts
staticfiles
# Taskfile.yml
# tests
# tsconfig.json
# tsconfig.app.json
# tsconfig.node.json
# vite.config.ts
