# Can change this if/as necessary depending on the environment.
COMPOSE_FILE=dc.dev.yml

# NOTE: These variables are typically only needed on production right now if you're
# running production with the single box setup, etc.
VITE_SENTRY_IS_ENABLED=false
VITE_SENTRY_AUTH_TOKEN=___secret_vite_sentry_auth_token___
VITE_SENTRY_DSN=___secret_vite_sentry_dsn___
VITE_SENTRY_ORG=better-base
VITE_SENTRY_PROJECT=better-base-prod
# ! Important NOTE: This (`VITE_SENTRY_RELEASE`) *SHOULD NOT* be set in `.frontend.env`,
# etc. on staging/production. It should be automatically set by a `git rev-parse HEAD`
# command somewhere, etc. See `task pbuild` for more info.
# VITE_SENTRY_RELEASE=___git_commit_sha___
